In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df=pd.read_csv('perrin-freres-monthly-champagne-.csv')

In [5]:
df.head()

     Month  Perrin Freres monthly champagne sales millions ?64-?72
0  1964-01                                             2815.0
1  1964-02                                             2672.0
2  1964-03                                             2755.0
3  1964-04                                             2721.0
4  1964-05                                             2946.0